SEA_INPUT_MOSCOW.xsd


<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
   <xs:element name="road" maxOccurs="unbounded">
      <xs:complexType>
         <xs:sequence>
             <xs:element name="start" type="xs:integer"/>
             <xs:element name="stop" type="xs:integer"/>
             <xs:element name="distance" type="xs:integer"/>
         </xs:sequence>
	 <xs:attribute name="id" type="xs:integer" use="required"/>
      </xs:complexType>
   </xs:element>
   <xs:element name="ITS">
      <xs:complexType>
         <xs:sequence>
            <xs:element ref="road" maxOccurs="unbounded"/>
         </xs:sequence>
      </xs:complexType>
   </xs:element>

</xs:schema>